#pangram {
    max-width: 300px;
    max-height: fit-content;
    height: 50px;
    word-wrap: normal;
}
ul {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    /* justify-content: space-around; */
    border: 2px solid black;
    border-radius: 10px;
}
li {
    list-style-type: none;
    margin: 20px;
    text-indent: -30px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}
.apparent {
    text-decoration: line-through;
    text-decoration-color: grey;
    color: grey;
}