body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f4a261;
    background-color: #264653;
}
h1 {
    background-color: #2a9d8f;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}
#info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a9d8f;
    border: 8px solid #e9c46a;
    border-radius: 20px;
    font-family:'Courier New', Courier, monospace;
}
dt {
    color: #e9c46a;
    background-color: #e76f51;
    padding: 10px 30px;
    width: fit-content;
    border: 8px solid #e9c46a;
    border-radius: 20px;
    font-size: 30px;
    position: relative;
    right: 40px;
    bottom: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}
dt span {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
dd {
    color: #264653;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    right: 15px;
}
p {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin: 50px;
}
#checker {
    display: flex;
    margin-bottom: 20vh;
    /* height: 400px; */
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
form h3 {
    align-self: flex-start;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    background-color: #e76f51;
    color: #e9c46a;
    width: fit-content;
    margin: 0px;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}
#pangram {
    width: 300px;
    height: 300px;
    word-wrap: normal;
    background-color: #2a9d8f;
    color: #264653;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}
#pangram::placeholder {
    color: #264653;
}
#submit {
    width: 330px;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    border: none;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: #264653;
    background-color: #2a9d8f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}
#submit:hover {
    background-color: #e76f51;
}
#remaining {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
}
#remaining h3 {
    margin: 0px;
    align-self: flex-end;
    position: relative;
    right: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    background-color: #e76f51;
    color: #e9c46a;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}
ul {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 330px;
    width: 330px;
    /* border: 2px solid black;
    border-radius: 10px; */
}
li {
    list-style-type: none;
    margin: 20px 22px;
    text-indent: -30px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}
.apparent {
    text-decoration: line-through;
    text-decoration-color: grey;
    color: grey;
}