body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f4a261;
    background-color: #264653;
}
h1 {
    background-color: #2a9d8f;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a9d8f;
    border: 8px solid #e9c46a;
    border-radius: 20px;
}
dt {
    color: #e9c46a;
    background-color: #e76f51;
    padding: 10px 30px;
    width: fit-content;
    border: 8px solid #e9c46a;
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    position: relative;
    right: 40px;

}
#checker {
    display: flex;
}
#pangram {
    width: 300px;
    height: fit-content;
    height: 50px;
    word-wrap: normal;
}
ul {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    /* justify-content: space-around; */
    border: 2px solid black;
    border-radius: 10px;
}
li {
    list-style-type: none;
    margin: 20px;
    text-indent: -30px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}
.apparent {
    text-decoration: line-through;
    text-decoration-color: grey;
    color: grey;
}